body {
  font-family: "Mulish", sans-serif;
}
.container {
  width: 100%;
  margin: 1em auto;
  display: flex;
}

img {
  cursor: pointer;
  max-width: 450px;
  height: 300px;
}
img:hover {

  opacity: 0.8;
}
h4,
h5,
h6 {
  font-weight: 900;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em;
  justify-content: center;
}
